.header {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 0;
  margin-bottom: -100px;

  @include tablet() {
    background: #262222;
    box-shadow: 0px 10px 20px rgba(23, 21, 21, 0.25);
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header_contact-wrap {
  max-width: 1170px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop() {
    width: 100%;
    padding: 0 25px;
  }
}

.header_contact-item {
  list-style-type: none;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 12px;

    img {
      opacity: 0.3;
      transition: 0.3s;

      @include tablet() {
        opacity: 1;
      }
    }
  }
}

.work-time {
  display: flex;
  align-items: center;

  img {
    opacity: 0.3;
    transition: 0.3s;
    margin-right: 20px;

    @include tablet() {
      opacity: 1;
    }
  }

  span {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 12px;
  }
}

.header_contact-item:hover {
  img {
    opacity: 1;
    transition: 0.3s;

  }
}


.link-social {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid #E34132;
  display: flex;
  justify-content: center;
  align-items: center;

}

.link-phone,
.link-email,
.link-contact {
  img {
    margin-right: 20px;
  }
}

.header_contact-item--none {
  @include tablet() {
    display: none;
  }
}

.header_contact-item--tablet {
  display: none;

  a img {
    opacity: 1;


  }

  @include tablet() {
    display: block;
  }


}


.header_contact-item-work {
  @include premobile() {
    display: none;
  }
}




@media screen and (max-width: 390px) {
  .header_contact-item-map {
    display: none;
  }
}