.nav {
  padding: 10px 0;
  box-shadow: 0px 10px 20px rgba(23, 21, 21, 0.25);
  margin-bottom: 90px;
  background-color: #262222;

}

.nav_position {
  height: 70px;

  @include tablet() {
    display: none;
  }
}

.nav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav_wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop() {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
  }
}

.nav_item {
  list-style-type: none;
}

.nav_item-link {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #555763;
  transition: 0.3s;
}

.nav_item-link:hover {
  color: #fff;
  transition: 0.3s;
}