.questions {
  padding-bottom: 160px;

  @include tablet() {
    padding-bottom: 70px;
  }
}

.questions_wrap {
  max-width: 1170px;
  margin: 0 auto;
  background-image: url('../images/content/bg_svg_faq.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @include laptop() {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
  }
}

.questions_title {
  text-align: center;
  font-family: 'BebasBold';
  font-size: 40px;
  text-align: center;
  margin-top: 140px;
  color: #FFFFFF;

  @include tablet() {
    margin-top: 50px;
  }
}

.questions_content {
  display: flex;
  justify-content: space-between;

  @include tablet() {
    flex-direction: column;
  }
}

.questions_content-faq {
  width: 56%;
  box-sizing: border-box;

  @include tablet() {
    width: 100%;
  }
}

.questions_content-form {
  width: 42%;
  box-sizing: border-box;

  @include tablet() {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include tablet() {
      margin-top: 50px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    input {
      background: #1D1D1D;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      padding: 15px 40px;
      color: #F2F2F2;
      margin-bottom: 40px;

      @include tablet() {
        width: 48%;
        margin-bottom: 20px;
      }

      @include mobile() {
        width: 100%;
      }
    }

    textarea {
      background: #1D1D1D;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      padding: 15px 40px;
      color: #F2F2F2;
      resize: none;
      min-height: 147px;
      margin-bottom: 40px;

      @include tablet() {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.btn-form {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 20px;
  color: #FFFFFF;
  background: #E34132;
  border-color: transparent;
  transition: 0.3s;
  cursor: pointer;

  @include tablet() {
    margin: 0 auto;
  }
}

.btn-form:hover {
  background: #FFFFFF;
  color: #262222;
  transition: 0.3s;
}