$laptop: 1200px;

$tablet: 768px;

$premobile: 600px;

$mobile: 480px;


@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin premobile {
    @media screen and (max-width: $premobile) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}