@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,700i');

@font-face {
    font-family: 'BebasBold';
    src: url('../fonts/bebasneuebold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/bebasneueregular.woff');
    font-weight: 700;
    font-style: normal;
}